.Child-child {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.25rem;
}

.Child-child.Child--checkedIn {
  color: dodgerblue;
  font-weight: 700;
}

.Child-childName {
  margin: 0;
  font-weight: inherit;
}

.Child-childAction {
  margin-left: auto;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.Child-childAction:hover {
  cursor: pointer;
}
