.ChildrenDashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  justify-items: center;
}

.ChildrenDashboard-title {
  margin-top: 0;
  margin-bottom: 0;
}

.ChildrenDashboard-main {
  width: 100%;
  max-width: 20rem;
}
